---
title: thRee
---

#foobar
  %span{"data-bind" => "text: count"}
  %button{"data-bind" => "click: inc"}= "+"
  %button{"data-bind" => "click: dec"}= "-"
#wrap
  .chat
    %script#log(type="text/html")
      %li{"data-bind" => "css: classes"}<
        .name
          %span.speaker{"data-bind" => "text: name"}>
          %span.target{"data-bind" => "visible: target, text: target"}>
        %span.text{"data-bind" => "html: html"}>
        %span.time{"data-bind" => "text: date()"}
    %ul.logs{"data-bind" => "template: { name: 'log', foreach: logs, afterRender: logsRendered }"}
    %form.input{"data-bind" => "submit: send"}
      %span.name{"data-bind" => "text: user.name() || ' '"}
      %input(type="text")
