---
title: thRee
---

#wrap
  .chat
    %script#log(type="text/html")
      %li{"data-bind" => "css: classes"}<
        .name
          %span.speaker{"data-bind" => "text: name"}>
          %span.target{"data-bind" => "visible: target, text: target"}>
        %span.text{"data-bind" => "html: html"}>
        %span.time{"data-bind" => "text: date()"}
    %ul#logs{"data-bind" => "template: { name: 'log', foreach: list, afterRender: didRendered }"}
    %form#input{"data-bind" => "submit: send"}
      %span{"data-bind" => "text: name"}
      %input(type="text")
#recorder
  #stage
    #time
    #avatar
  %button#record= "&#9679"
  %button#play= "&#9656"
#life.window
  .stage

